{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/user/repos?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":103960513,\"name\":\"repo1\",\"full_name\":\"MarekSuchanek/repo1\",\"owner\":{\"login\":\"MarekSuchanek\",\"id\":32020103,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/32020103?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/MarekSuchanek\",\"html_url\":\"https://github.com/MarekSuchanek\",\"followers_url\":\"https://api.github.com/users/MarekSuchanek/followers\",\"following_url\":\"https://api.github.com/users/MarekSuchanek/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/MarekSuchanek/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/MarekSuchanek/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/MarekSuchanek/subscriptions\",\"organizations_url\":\"https://api.github.com/users/MarekSuchanek/orgs\",\"repos_url\":\"https://api.github.com/users/MarekSuchanek/repos\",\"events_url\":\"https://api.github.com/users/MarekSuchanek/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/MarekSuchanek/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/MarekSuchanek/repo1\",\"description\":\"Testing REPO_1\",\"fork\":false,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1\",\"forks_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/forks\",\"keys_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/teams\",\"hooks_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/hooks\",\"issue_events_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/events\",\"assignees_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/tags\",\"blobs_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/languages\",\"stargazers_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/stargazers\",\"contributors_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/contributors\",\"subscribers_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/subscribers\",\"subscription_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/subscription\",\"commits_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/merges\",\"archive_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/downloads\",\"issues_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/MarekSuchanek/repo1/deployments\",\"created_at\":\"2017-09-18T15:56:41Z\",\"updated_at\":\"2017-09-18T15:56:41Z\",\"pushed_at\":\"2017-09-18T15:56:41Z\",\"git_url\":\"git://github.com/MarekSuchanek/repo1.git\",\"ssh_url\":\"git@github.com:MarekSuchanek/repo1.git\",\"clone_url\":\"https://github.com/MarekSuchanek/repo1.git\",\"svn_url\":\"https://github.com/MarekSuchanek/repo1\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":103960621,\"name\":\"repo2\",\"full_name\":\"MarekSuchanek/repo2\",\"owner\":{\"login\":\"MarekSuchanek\",\"id\":32020103,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/32020103?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/MarekSuchanek\",\"html_url\":\"https://github.com/MarekSuchanek\",\"followers_url\":\"https://api.github.com/users/MarekSuchanek/followers\",\"following_url\":\"https://api.github.com/users/MarekSuchanek/following{/other_user}\",\[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695926023,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\",\"name\":\"label1\",\"color\":\"FFAA00\",\"default\":false},{\"id\":695926032,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF33\",\"default\":false},{\"id\":695926049,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"771077\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4961",
          "X-RateLimit-Reset": "1505757573",
          "ETag": "\"da1b77bdc6e8df67008db21cb5f5bfac\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T17:01:53"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label2\", \"color\": \"CCAAFF\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695927711,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label2\",\"name\":\"label2\",\"color\":\"CCAAFF\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4960",
          "X-RateLimit-Reset": "1505757573",
          "ETag": "\"ae75acb7deadf0a4bb1b6e0116045a8e\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label2",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-18T17:01:53"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FF00\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695926032,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF00\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4959",
          "X-RateLimit-Reset": "1505757573",
          "ETag": "\"85b19144f18d8d1f9209b30b5bc211a5\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "recorded_at": "2017-09-18T17:01:53"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FF00\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo4/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695927735,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo4/labels/label3\",\"name\":\"label3\",\"color\":\"00FF00\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4948",
          "X-RateLimit-Reset": "1505757573",
          "ETag": "\"a733658511f19e0ec25e69c5398fcbe5\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo4/labels/label3",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo4/labels"
      },
      "recorded_at": "2017-09-18T17:01:56"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}