{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/user/repos?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"issues_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/issues{/number}\", \"deployments_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/deployments\", \"stargazers_count\": 83, \"forks_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/forks\", \"mirror_url\": null, \"subscription_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/subscription\", \"notifications_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/notifications{?since,all,participating}\", \"collaborators_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/collaborators{/collaborator}\", \"updated_at\": \"2017-08-27T20:49:41Z\", \"private\": false, \"pulls_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/pulls{/number}\", \"issue_comment_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/issues/comments{/number}\", \"labels_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/labels{/name}\", \"has_wiki\": true, \"full_name\": \"MarekSuchanek/repo0\", \"owner\": {\"following_url\": \"https://api.github.com/users/MarekSuchanek/following{/other_user}\", \"events_url\": \"https://api.github.com/users/MarekSuchanek/events{/privacy}\", \"organizations_url\": \"https://api.github.com/users/MarekSuchanek/orgs\", \"url\": \"https://api.github.com/users/MarekSuchanek\", \"gists_url\": \"https://api.github.com/users/MarekSuchanek/gists{/gist_id}\", \"html_url\": \"https://github.com/MarekSuchanek\", \"subscriptions_url\": \"https://api.github.com/users/MarekSuchanek/subscriptions\", \"avatar_url\": \"https://avatars3.githubusercontent.com/u/2183308?v=4\", \"repos_url\": \"https://api.github.com/users/MarekSuchanek/repos\", \"received_events_url\": \"https://api.github.com/users/MarekSuchanek/received_events\", \"gravatar_id\": \"\", \"starred_url\": \"https://api.github.com/users/MarekSuchanek/starred{/owner}{/repo}\", \"site_admin\": false, \"login\": \"MarekSuchanek\", \"type\": \"User\", \"id\": 2183308, \"followers_url\": \"https://api.github.com/users/MarekSuchanek/followers\"}, \"statuses_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/statuses/{sha}\", \"id\": 58668100, \"keys_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/keys{/key_id}\", \"description\": \"Materi\\u00e1ly k p\\u0159edm\\u011btu MI-PYT na FIT \\u010cVUT\", \"tags_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/tags\", \"downloads_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/downloads\", \"assignees_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/assignees{/user}\", \"contents_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/contents/{+path}\", \"has_pages\": false, \"git_refs_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/git/refs{/sha}\", \"open_issues_count\": 10, \"has_projects\": true, \"clone_url\": \"https://github.com/MarekSuchanek/repo0.git\", \"watchers_count\": 83, \"git_tags_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/git/tags{/sha}\", \"milestones_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/milestones{/number}\", \"languages_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/languages\", \"size\": 4058, \"homepage\": \"https://edux.fit.cvut.cz/courses/MI-PYT/\", \"fork\": false, \"commits_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/commits{/sha}\", \"releases_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/releases{/id}\", \"issue_events_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/issues/events{/number}\", \"archive_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/{archive_format}{/ref}\", \"comments_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/comments{/number}\", \"events_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/events\", \"contributors_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/contributors\", \"html_url\": \"https://github.com/MarekSuchanek/repo0\", \"forks\": 20, \"compare_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/compare/{base}...{head}\", \"open_issues\": 10, \"git_url\": \"git://github.com/MarekSuchanek/repo0.git\", \"svn_url\": \"https://github.com/MarekSuchanek/repo0\", \"merges_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/merges\", \"has_issues\": true, \"ssh_url\": \"git@github.com:MarekSuchanek/repo0.git\", \"blobs_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/git/blobs{/sha}\", \"git_commits_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/git/commits{/sha}\", \"hooks_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/hooks\", \"has_downloads\": true, \"watchers\": 83, \"name\": \"repo0\", \"language\": \"Jupyter Notebook\", \"url\": \"https://api.github.com/repos/MarekSuchanek/repo0\", \"created_at\": \"2016-05-12T18:57:56Z\", \"pushed_at\": \"2017-09-14T10:37:11Z\", \"forks_count\": 20, \"default_branch\": \"master\", \"teams_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/teams\", \"trees_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/git/trees{/sha}\", \"branches_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/branches{/branch}\", \"subscribers_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/subscribers\", \"permissions\": {\"admin\": false, \"push\": true, \"pull\": true}, \"stargazers_url\": \"https://api.github.com/repos/MarekSuchanek/repo0/stargazers\"}, {\"issues_url\": \"https://api.github.com/repos/MarekSuchanek/repo1/issues{/number}\", \"deployments_url\": \"https://api.github.com/repos/MarekSuchanek/repo1/deployments\", \"stargazers_count\": 83, \"forks_url\": \"https://api.github.com/repos/MarekSuchanek/repo1/forks\", \"mirror_url\": null, \"subscription_url\": \"https://api.github.com/repos/MarekSuchanek/repo1/subscription\", \"notifications_url\": \"https://api.github.com[...]
[...]
