{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "401 Unauthorized",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-RateLimit-Limit": "60",
          "X-RateLimit-Remaining": "58",
          "X-RateLimit-Reset": "1505594442"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-16T19:40:43"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}