{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/requests/requests/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":44501256,\"url\":\"https://api.github.com/repos/requests/requests/labels/Breaking%20API%20Change\",\"name\":\"Breaking API Change\",\"color\":\"eb6420\",\"default\":false},{\"id\":117744,\"url\":\"https://api.github.com/repos/requests/requests/labels/Bug\",\"name\":\"Bug\",\"color\":\"e10c02\",\"default\":false},{\"id\":191274,\"url\":\"https://api.github.com/repos/requests/requests/labels/Contributor%20Friendly\",\"name\":\"Contributor Friendly\",\"color\":\"0b02e1\",\"default\":false},{\"id\":78002701,\"url\":\"https://api.github.com/repos/requests/requests/labels/Do%20Not%20Merge\",\"name\":\"Do Not Merge\",\"color\":\"e11d21\",\"default\":false},{\"id\"[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"SWAG\", \"color\": \"FF66CC\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/requests/requests/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4990",
          "X-RateLimit-Reset": "1505846237",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/requests/requests/labels"
      },
      "recorded_at": "2017-09-19T17:45:47"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}