{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695848171,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\",\"name\":\"label1\",\"color\":\"FFAA00\",\"default\":false},{\"id\":695848172,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF33\",\"default\":false},{\"id\":696450299,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"771077\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4991",
          "X-RateLimit-Reset": "1505803939",
          "ETag": "\"204d6e1574d2b51c297d75ad3e78f8cc\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-19T05:55:04"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label2\", \"color\": \"CCAAFF\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":696451932,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label2\",\"name\":\"label2\",\"color\":\"CCAAFF\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4990",
          "X-RateLimit-Reset": "1505803939",
          "ETag": "\"5d09f6914c06d0c014c4eafed6427188\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label2",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-19T05:55:04"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label7\", \"color\": \"00FFCCAA\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Label\",\"code\":\"invalid\",\"field\":\"color\"}],\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "422 Unprocessable Entity",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4989",
          "X-RateLimit-Reset": "1505803939",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-19T05:55:04"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FFXX\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Label\",\"code\":\"invalid\",\"field\":\"color\"}],\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "422 Unprocessable Entity",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4988",
          "X-RateLimit-Reset": "1505803939",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "recorded_at": "2017-09-19T05:55:04"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo7/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4983",
          "X-RateLimit-Reset": "1505803939",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo7/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-19T05:55:05"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}