{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695847629,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\",\"name\":\"label1\",\"color\":\"FFAA00\",\"default\":false},{\"id\":695847630,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF33\",\"default\":false},{\"id\":695847631,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"771077\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4914",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"fbd421b47adcdaf15bc0eb96911223f2\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T15:30:19"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label2\", \"color\": \"CCAAFF\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695847772,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label2\",\"name\":\"label2\",\"color\":\"CCAAFF\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4913",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"3a0941d49b708c2ff0d37aa0f6904774\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label2",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-18T15:30:20"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FF00\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695847630,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF00\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4912",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"b05c8c26bb8143581d1059c93cce84f6\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "recorded_at": "2017-09-18T15:30:20"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FF00\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695847829,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo2/labels/label3\",\"name\":\"label3\",\"color\":\"00FF00\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4908",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"9492242e9f7ef4bfc26a9c41ccdeabd3\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label3",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels"
      },
      "recorded_at": "2017-09-18T15:30:21"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}