{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695848171,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\",\"name\":\"label1\",\"color\":\"FFAA00\",\"default\":false},{\"id\":695848172,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF33\",\"default\":false},{\"id\":696038325,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"771077\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4951",
          "X-RateLimit-Reset": "1505765235",
          "ETag": "\"a1488f49cd21eed6c9b30058aab796a5\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T19:15:26"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label2\", \"color\": \"CCAAFF\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":696038607,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label2\",\"name\":\"label2\",\"color\":\"CCAAFF\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4950",
          "X-RateLimit-Reset": "1505765235",
          "ETag": "\"982655538d90f5d3f8d9918bbdf9effc\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label2",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-18T19:15:27"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FF00\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695848172,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF00\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4949",
          "X-RateLimit-Reset": "1505765235",
          "ETag": "\"fa6d72fa427b01eb0350547067df4c41\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label3"
      },
      "recorded_at": "2017-09-18T19:15:27"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label3\", \"color\": \"00FF00\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":696038609,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo2/labels/label3\",\"name\":\"label3\",\"color\":\"00FF00\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4945",
          "X-RateLimit-Reset": "1505765235",
          "ETag": "\"de3518d509a7b057a9a04137f83f3fa1\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label3",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels"
      },
      "recorded_at": "2017-09-18T19:15:28"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}