{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4991",
          "X-RateLimit-Reset": "1505594313",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-16T19:56:49"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}