{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695848171,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\",\"name\":\"label1\",\"color\":\"FFAA00\",\"default\":false},{\"id\":695848172,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF33\",\"default\":false},{\"id\":695847878,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"771077\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4879",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"d08ec026ae4d105e91582cab5e1dd7be\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T15:30:56"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695848189,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo2/labels/label2\",\"name\":\"label2\",\"color\":\"CCAAFF\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4878",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"0ca4efdd73fd1eaba6af4d8d3923c11b\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T15:30:57"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}