{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695844732,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\",\"name\":\"label1\",\"color\":\"FFAA00\",\"default\":false},{\"id\":695844733,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\",\"name\":\"label3\",\"color\":\"00FF33\",\"default\":false},{\"id\":695845370,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"771077\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4927",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"a61083a05e64829cfc1017291ea123c1\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T15:30:02"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4926",
          "X-RateLimit-Reset": "1505751687",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label1"
      },
      "recorded_at": "2017-09-18T15:30:02"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label2"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4922",
          "X-RateLimit-Reset": "1505751687",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label2"
      },
      "recorded_at": "2017-09-18T15:30:06"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}