{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\": 493652351, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/bug\", \"name\": \"bug\", \"color\": \"ee0701\", \"default\": true}, {\"id\": 537866912, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/core%20idea\", \"name\": \"core idea\", \"color\": \"b495a9\", \"default\": false}, {\"id\": 493652352, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/duplicate\", \"name\": \"duplicate\", \"color\": \"cccccc\", \"default\": true}, {\"id\": 493652354, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/enhancement\", \"name\": \"enhancement\", \"color\": \"84b6eb\", \[...]
