{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo4/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":697065925,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo4/labels/label0\",\"name\":\"label0\",\"color\":\"eEeEeE\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4989",
          "X-RateLimit-Reset": "1505846237",
          "ETag": "\"50e959b104185011db40fc414b644314\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo4/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-19T17:55:42"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label0\", \"color\": \"EEEEEE\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo4/labels/label0"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":697065925,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo4/labels/label0\",\"name\":\"label0\",\"color\":\"EEEEEE\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4988",
          "X-RateLimit-Reset": "1505846237",
          "ETag": "\"7cbd2c4ece0955b4e71ac5b73e346dfc\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo4/labels/label0"
      },
      "recorded_at": "2017-09-19T17:55:42"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}