{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo3/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\": 493652100, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/label0\", \"name\": \"label0\", \"color\": \"ABC100\", \"default\": true}, {\"id\": 493652101, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/label1\", \"name\": \"label1\", \"color\": \"ABC101\", \"default\": true}, {\"id\": 493652102, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/label2\", \"name\": \"label2\", \"color\": \"ABC102\", \"default\": true}, {\"id\": 493652103, \"url\": \"https://api.github.com/repos/MarekSuchanek/repo1/labels/label3\", \"name\": \"label3\", \"color\": \"ABC103\", \"default\": true}, {\"id\[...]
[...]
