{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo4/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":697065925,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo4/labels/label0\",\"name\":\"label0\",\"color\":\"101010\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4977",
          "X-RateLimit-Reset": "1505852300",
          "ETag": "\"c4450816dcefcca14fffc62e7d5f5acd\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo4/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-19T19:22:40"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"LaBeL0\", \"color\": \"EEEEEE\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo4/labels/label0"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":697065925,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo4/labels/LaBeL0\",\"name\":\"LaBeL0\",\"color\":\"EEEEEE\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4976",
          "X-RateLimit-Reset": "1505852300",
          "ETag": "\"23e8eb16b90dad680508616fe3671276\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo4/labels/label0"
      },
      "recorded_at": "2017-09-19T19:22:40"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}