{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo3/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695795773,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo3/labels/label4\",\"name\":\"label4\",\"color\":\"666666\",\"default\":false},{\"id\":695795774,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo3/labels/label5\",\"name\":\"label5\",\"color\":\"C0B011\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4930",
          "X-RateLimit-Reset": "1505747959",
          "ETag": "\"c51156435f498a3cecd03d4c1e7000a7\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo3/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T14:58:36"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label5\", \"color\": \"C0B011\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695814398,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label5\",\"name\":\"label5\",\"color\":\"C0B011\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4928",
          "X-RateLimit-Reset": "1505747959",
          "ETag": "\"fd467ea7c2543c224744e0e29944d757\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label5",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-18T14:58:36"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label4\", \"color\": \"666666\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label4"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695794322,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"666666\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4927",
          "X-RateLimit-Reset": "1505747959",
          "ETag": "\"c4c9740339e78210d660b3853c526f35\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label4"
      },
      "recorded_at": "2017-09-18T14:58:36"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label5\", \"color\": \"C0B011\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695814409,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo2/labels/label5\",\"name\":\"label5\",\"color\":\"C0B011\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4924",
          "X-RateLimit-Reset": "1505747959",
          "ETag": "\"cf3aecac16f30dbe92b176a134af087e\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label5",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels"
      },
      "recorded_at": "2017-09-18T14:58:37"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}