{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo3/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":695795773,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo3/labels/label4\",\"name\":\"label4\",\"color\":\"666666\",\"default\":false},{\"id\":695795774,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo3/labels/label5\",\"name\":\"label5\",\"color\":\"C0B011\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4899",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"c51156435f498a3cecd03d4c1e7000a7\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo3/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-18T15:30:34"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label5\", \"color\": \"C0B011\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695848047,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label5\",\"name\":\"label5\",\"color\":\"C0B011\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4897",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"2aefd8a9fff4a7f00fb0606e4eebc201\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label5",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels"
      },
      "recorded_at": "2017-09-18T15:30:34"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"label4\", \"color\": \"666666\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label4"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":695847878,\"url\":\"https://api.github.com/repos/MarekSuchanek/repo1/labels/label4\",\"name\":\"label4\",\"color\":\"666666\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4896",
          "X-RateLimit-Reset": "1505751687",
          "ETag": "\"a1d3c52247dd2a360727757d13f29d56\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo1/labels/label4"
      },
      "recorded_at": "2017-09-18T15:30:35"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label2"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4890",
          "X-RateLimit-Reset": "1505751687",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repo2/labels/label2"
      },
      "recorded_at": "2017-09-18T15:30:36"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}