{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Security\", \"color\": \"FF3300\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/repocribro/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":707283010,\"url\":\"https://api.github.com/repos/MarekSuchanek/repocribro/labels/Security\",\"name\":\"Security\",\"color\":\"FF3300\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4982",
          "X-RateLimit-Reset": "1506787853",
          "ETag": "\"520253b6b0b70afdd3702572cfafa5bb\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Security",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repocribro/labels"
      },
      "recorded_at": "2017-09-30T15:23:44"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Security\", \"color\": \"FF3300\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/maze/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":707283026,\"url\":\"https://api.github.com/repos/MarekSuchanek/maze/labels/Security\",\"name\":\"Security\",\"color\":\"FF3300\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4981",
          "X-RateLimit-Reset": "1506787853",
          "ETag": "\"68e34daae2881fe153592ba8d8c87200\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "Location": "https://api.github.com/repos/MarekSuchanek/maze/labels/Security",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/maze/labels"
      },
      "recorded_at": "2017-09-30T15:23:44"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Security\", \"color\": \"FF6600\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Security"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":707274113,\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Security\",\"name\":\"Security\",\"color\":\"FF6600\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4980",
          "X-RateLimit-Reset": "1506787853",
          "ETag": "\"bd56ddb8f14c51abdb02c2e878a41c2e\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Security"
      },
      "recorded_at": "2017-09-30T15:23:46"
    },
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Security\", \"color\": \"FF6600\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/maze/labels/Security"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":707283026,\"url\":\"https://api.github.com/repos/MarekSuchanek/maze/labels/Security\",\"name\":\"Security\",\"color\":\"FF6600\",\"default\":false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4979",
          "X-RateLimit-Reset": "1506787853",
          "ETag": "\"a481a790ec1fd3d89fc8ef52020be57a\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/maze/labels/Security"
      },
      "recorded_at": "2017-09-30T15:23:46"
    },
[...]
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Security"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Content-Type": "application/octet-stream",
          "Status": "204 No Content",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4977",
          "X-RateLimit-Reset": "1506787853",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Security"
      },
      "recorded_at": "2017-09-30T15:23:47"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}