{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/labels?per_page=100&page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":687090714,\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Bug\",\"name\":\"Bug\",\"color\":\"FF0000\",\"default\":false},{\"id\":687091499,\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Idea\",\"name\":\"Idea\",\"color\":\"23FB89\",\"default\":false}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4998",
          "X-RateLimit-Reset": "1506542662",
          "ETag": "\"b3d3b6995a2538600d72283aa388b9d4\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/labels?per_page=100&page=1"
      },
      "recorded_at": "2017-09-27T19:12:55"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}