{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"web\", \"active\": true, \"events\": [\"label\"], \"config\": {\"url\": \"http://localhost/repos/webhook\", \"content_type\": \"json\", \"secret\": \"webhook_secret\"}}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"type\":\"Repository\",\"id\":16438573,\"name\":\"web\",\"active\":true,\"events\":[\"label\"],\"config\":{\"url\":\"http://localhost/repos/webhook\",\"content_type\":\"json\",\"secret\":\"********\",\"insecure_ssl\":\"0\"},\"updated_at\":\"2017-09-27T19:27:03Z\",\"created_at\":\"2017-09-27T19:27:03Z\",\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/16438573\",\"test_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/16438573/test\",\"ping_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/16438573/pings\",\"last_response\":{\"code\":null,\"status\":\"unused\",\"message\":null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4996",
          "X-RateLimit-Reset": "1506542662",
          "ETag": "\"4b6724eb648eac358bfbc97ce6a149cf\"",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, repo, write:repo_hook",
          "Location": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/16438573",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks"
      },
      "recorded_at": "2017-09-27T19:27:03"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}