{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"RFE\", \"color\": \"0052cc\"}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Idea"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4986",
          "X-RateLimit-Reset": "1506708364",
          "X-OAuth-Scopes": "repo",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Idea"
      },
      "recorded_at": "2017-09-29T17:15:46"
    }
  ],
  "recorded_with": "betamax/0.8.0"
}